.clients__list {
  display: flex;
}
.clients__item {
  width: calc((100%-150px) / 6);

  justify-content: center;
  align-items: center;
}
.clients__item:not(:last-child) {
  margin-right: 30px;
}
.clients__link {
  display: flex;
  height: 90px;
  justify-content: center;
  align-items: center;

  border: 1px solid var(--primary-icons-color);
  border-radius: 4px;

  transition: border var(--animation);
}
.clients__link .clients__icon {
  fill: var(--primary-icons-color);
  transition: fill var(--animation);
}
.clients__link:hover,
.clients__link:focus {
  border: 1px solid var(--accent-color);
  outline-color: var(--accent-color);
}
.clients__link:hover .clients__icon {
  fill: var(--accent-color);
}
.clients__link:focus .clients__icon {
  fill: var(--accent-color);
  outline-color: var(--accent-color);
}
